<h1>Welcome to Prime time</h1>
<form action="/prime">
  <div class="form-group">
     <label for="prime">Let's check for Prime numbers, enter a number!
</label>
     <input id="prime" name="prime" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
